<div class="active-modal">
<div class="modal-header">
  <h5 class="modal-title">Editeaza eroul!</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss(null)"></button>
</div>

<div class="modal-body">
  <div class="form-control ">
  <form class="edit-form">
      <div>
        <label class="form-label">Nume supererou</label>
        <input type="text" name="heroName" [(ngModel)]= "clonedHero.heroName" id="heroName" required>
      </div>
      <div>
        <label class="form-label">Numele eroului </label>
        <input type="text" name="firstName" [(ngModel)]= "clonedHero.firstName" id="firstName" required>
      </div>
      <div>
        <label class="form-label">Prenumele eroului </label>
        <input type="text" name="lastName" [(ngModel)]= "clonedHero.lastName" id="lastName" required>
    </div>
    <div>
      <label class="form-label">Superputere </label>
      <input type="text" name="nameSuperPower" [(ngModel)]= "clonedHero.nameSuperPower" id="nameSuperPower" required>
    </div>
</form>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss(null)">Cancel</button>
  <button type="button" class="btn btn-outline-light" (click)="activeModal.close(clonedHero)">Save</button>
</div>
