<header>
  <h1>{{title}}</h1>
  <app-button *ngIf="hasRoute('/')"
  color="{{showAddHero ? 'red' : 'green'}}"
  text="{{showAddHero ? 'Close' : 'Adauga'}}"
  (btnClick)="toggleAddHeroes()"
  ></app-button>
</header>



