<div class="hero">
  <h3>{{hero.heroName}}
  </h3>
  <p>Id: {{hero.id}}</p>
  <p>Nume: {{hero.firstName}}</p>
  <p>Prenume: {{hero.lastName}}</p>
  <p>Numele superputerii: {{hero.nameSuperPower}}</p>
  <span>
    <button class="btn btn-succes edit-post"
      (click)="onEdit()">
      Editeaza {{hero.heroName}}</button>
    <button class="btn btn-succes delete-post"
    (click)="onDelete()"
    >Sterge
    </button>
  </span>
</div>



