<form *ngIf="showAddHero" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Adauga datele noului erou</label>
    <input type="text" name="heroName" [(ngModel)]= "heroName" id="heroName" placeholder="Adauga numele  de supererou">
    <input type="text" name="firstName" [(ngModel)]= "firstName" id="firstName" placeholder="Adauga numele eroului">
    <input type="text" name="lastName" [(ngModel)]= "lastName" id="lastName" placeholder="Adauga prenumele eroului">
    <input type="text" name="nameSuperPower" [(ngModel)]= "nameSuperPower" id="nameSuperPower" placeholder="Adauga superputerea">
    <input type="submit" value="Salveaza" class="btn btn-block">
  </div>
</form>
